<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harmoniapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarmoniApp">
        <activity
            android:name=".WritingTask3Activity"
            android:exported="false" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AccountInfoActivity" />
        <activity android:name=".TracksActivity" />
        <activity android:name=".DrawingActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".WritingActivity" />
        <activity
            android:name=".CreativeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>